html, body 
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: 0.15fr;
    grid-template-columns: 0.7fr 2fr 2fr;
    grid-template-areas: 
    "dashboard header header"
    "dashboard mainSection mainSection"
    "dashboard mainSection mainSection";

}

#dashboard
{
    grid-area: dashboard;
    display: grid;
    background-color: #1992D4;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 3fr 9fr;
    gap: 30px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 15px;

}

#dashLogo
{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px;
    margin: 0px;
    gap: 5px;
}

#sidebar ul, #utils ul
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    align-items: flex-start;
}

li
{
    display: flex;
    align-items: center;
    gap: 10px;
}


#header
{
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px lightgray;
    margin-bottom: 5px;
}

#hiUser
{
    display: flex;
    justify-self: center;
}

#topHeader 
{
    flex-grow: 1;
}

#mag
{
    margin-left: 30px;
    justify-content: center;
}

#searchBar
{
    margin-left: 10px;
    width: 700px;
    border-radius: 25px;
    background-color: #E2E8F0;
    padding: 5px;
    border: 0px;
}

#userID
{
    font-weight: bold;
    font-size: 20px;
}

#hello
{
    margin: 0px;
    font-size: 12px;
}

#botHeader
{
    flex-grow: 1;
    margin-left: 200px;
}

#noti 
{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap:50px;
    margin-left: 60px;
}

#searchArea
{
    display: flex;
    align-content: center;
}

#buttons button
{
    color: white;
    background-color: #1992D4;
    font-weight: bold;
    border-radius: 30px;
    border: 0px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 40px;
}



#buttons
{
    margin-bottom: 30px;
}

.user
{
    width: 30px;
}

#hiUser
{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    gap: 15px;
    align-items: center;
}



#mainSection
{
    background-color: #E2E8F0;
    display: grid;
    grid-template-areas: 
    "myProjects announce"
    "myProjects ."
    "myProjects trending";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.1fr;
}

#myProjects
{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(autofit, minmax(150px, 1fr));
    margin: 30px;
    gap: 30px;
    min-height: 85vh;
}

#Projects
{
    grid-area: myProjects;
}

#yourProjects
{
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: -20px;
}

.projects, #trend, #announce
{
    border: 1px solid black;
    background-color: white;
    
}

.projects
{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 0px;
    padding: 20px;
    box-shadow: 1px 3px 3px 3px lightgray;
    border-left: 12px solid #F0B429;
}

#announce, #trend
{
    border: 0px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 1px 3px 3px 3px lightgray;
}

.projectHeader, #announceHeader, #trendHeader
{
    font-weight: bold;
    margin-bottom: 5px;
}

.projectInfo
{
    font-size: 15px;
}

.projectButtons
{
    display: flex;
    gap: 20px;
    height: 200px;
    justify-content: end;
    align-items: end;
    margin-top: auto;
    
}

#announce
{
    height: 530px;
}

#header 
{
    grid-area: header;
}

#mainSection
{
    grid-area: mainSection;
}

#announcements
{
    grid-area: announce;
}
#trendHeader
{
    margin-left: 30px;
    margin-bottom: -20px;
    margin-top: 32px;
}
#announceHeader
{
    margin-left: 30px;
    margin-bottom: -20px;
    margin-top: 32px;
}

#announce, #trend
{
    margin: 30px;
    gap: 30px;
}

#trending 
{
    grid-area: trending;
    margin-top: -170px;
}

#trend 
{
    height: 540px;
}

span
{
    display: none;
}

.icon
{
    filter: brightness(0) invert(1);
}